:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --border-color: #9d9c9c;
    --accent-color: #8a6bd2;
    --background-color: #c9c9c9;
    --font-family: 'Petit Formal Script', cursive;
    --font-family-2: 'Cormorant Garamond', serif;
    --font-size-base: 16px;
}

.petit-formal-script-regular {
    font-family: "Petit Formal Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.cormorant-garamond-300 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
}

body {
    font-family: var(--font-family-2);
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

h1 {
    color: var(--accent-color);
    font-family: var(--font-family);
    margin-bottom: 1rem;
}

.parrafo {
    max-width: 80%;
    margin: 0 auto;
    padding: 50px 50px;
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
}

.h2 {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--accent-color);
}

.p {
    font-family: var(--font-family-2);
    font-size: 16px;     
    color: var(--secondary-color);        
    margin-bottom: 20px;
}

.tagline {
    display: block;      
    color: var(--secondary-color);
    margin-top: 8px;
    font-style: italic;
    font-family: var(--font-family-2);
}

.sobre-nosotros ul {
    padding-left: 18px;
    font-family: var(--font-family-2);
}

.sobre-nosotros ul li {
    font-family: var(--font-family-2);
    font-size: 15px;
    color: var(--secondary-color);
    margin-bottom: 8px;
}

.footer {
    text-align: center;
    padding: 20px;
    color: var(--secondary-color);
    font-family: var(--font-family-2);
}