:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-base: 16px;
}
body{
    font-family: var(--font-family);
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
    margin-bottom: 1rem;
}