:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-base: 16px;
}
body{
    font-family: var(--font-family);
    color: var(--secondary-color);
    background-color: var(--primary-color);
}